---
interface IBenefitCard {
  title: string;
  icon: string;
  description: string;
}

const { title, icon, description } = Astro.props as IBenefitCard
---

<article class="flex flex-col items-center text-center p-4 rounded-xl bg-white shadow-md hover:shadow-lg transition">
  <i class={`${icon} text-3xl mb-2`}></i>
  <h3 class="text-lg font-semibold text-gray-700">{title}</h3>
  <p class="text-gray-800">{description}</p>
</article>