/*----- Global -----*/
/*----- Fonts & Icons -----*/
@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", system-ui, sans-serif;
}
*::selection {
  background-color: #f6339a;
  color: #fdf6f0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  text-transform: capitalize;
  font-family: "Belleza", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  margin-bottom: 0.75rem;
  text-wrap: pretty;
}

button {
  cursor: pointer;
}

/*----- Includes -----*/
.capital {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

.over-x {
  overflow-x: hidden;
}

.over-y {
  overflow-y: hidden;
}

.over-hidden {
  overflow: hidden;
}

.text-shadow {
  text-shadow: 0rem 0rem 0.25rem #020202;
}

.hover-shadowless:hover {
  text-shadow: 0rem 0rem 0rem;
}

.white-button {
  width: fit-content;
  border: 1px solid #fdfdfd;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  transition: 0.3s linear all;
}
.white-button:hover {
  background-color: #fdfdfd;
  color: #151515;
}

.black-button {
  width: fit-content;
  border: 1px solid #151515;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  transition: 0.3s linear all;
}
.black-button:hover {
  background-color: #151515;
  color: #fdfdfd;
}

.button-secondary {
  width: fit-content;
  border: 1px solid #f6339a;
  color: #f6339a;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  transition: 0.3s linear all;
}
.button-secondary:hover {
  background-color: #f6339a;
  color: #fdfdfd;
}

/*----- Components -----*/
.home-banner-swiper .swiper-button-prev, .home-banner-swiper .swiper-button-next {
  color: #202020;
}
.home-banner-swiper .swiper-button-prev::after, .home-banner-swiper .swiper-button-next::after {
  font-size: 1.5rem;
}

.szh-accordion__item-heading {
  font-size: 2rem;
  font-family: "Belleza", sans-serif, serif;
}

.szh-accordion__item {
  margin-bottom: 0rem;
}

.gallery-wrapper {
  max-width: 1200px;
  margin: 2rem auto;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33.3%;
  -moz-column-width: 33.3%;
  column-width: 33.3%;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  padding: 0 1rem;
}

.gallery-fig {
  width: 100%;
  cursor: pointer;
  break-inside: avoid;
  transition: all 350ms ease;
}
.gallery-fig:hover {
  filter: opacity(0.8);
}
.gallery-fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .gallery-wrapper {
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-count: 1;
    column-width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 991px) {
  .gallery-wrapper {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.form-wrapper {
  width: 45%;
  min-width: 45%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.form-wrapper::before {
  transition: 0.3s linear all;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.form-wrapper:hover::before {
  opacity: 0.9;
}
.form-wrapper .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
}

.contact-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fdfdfd;
}
.contact-field legend {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}
.contact-field .contact-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}
.contact-field .contact-div .form-label {
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}
.contact-field .contact-div .form-input {
  width: 100%;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid #fdfdfd;
}
.contact-field .contact-div .form-textarea {
  width: 100%;
  resize: none;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid #fdfdfd;
}
.contact-field .contact-div .contact-input {
  transition: 0.3s linear all;
}
.contact-field .contact-div .contact-input:focus {
  outline: 1px solid #fdfdfd;
}
.contact-field .contact-div .contact-input::placeholder {
  color: #f6f6f6;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.form-buttons .form-btn {
  width: 10rem;
  padding: 0.5rem 1rem;
  transition: 0.3s linear all;
  font-size: 1rem;
}
.form-buttons .send-btn {
  background-color: #c2185b;
  color: #fdfdfd;
  border: 1px solid #c2185b;
  border-radius: 3rem;
}
.form-buttons .send-btn:hover {
  background-color: #f6339a;
  color: #fdfdfd;
  border-color: #f6339a;
}
.form-buttons .clear-btn {
  background-color: #fdf6f0;
  color: #151515;
  border: 1px solid #fdf6f0;
  border-radius: 3rem;
}
.form-buttons .clear-btn:hover {
  background-color: #151515;
  color: #fdfdfd;
  border-color: #fdfdfd;
}

@media all and (max-width: 480px) {
  .form-wrapper {
    padding: 3rem 1rem;
  }
  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
  }
  .form-buttons .form-btn {
    width: 100%;
  }
  .form-buttons .send-btn {
    margin-bottom: 0.75rem;
  }
}
@media all and (min-width: 481px) and (max-width: 575px) {
  .form-wrapper .contact-form {
    width: 90%;
  }
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .form-wrapper .contact-form {
    width: 75%;
  }
}
@media all and (max-width: 767px) {
  .form-wrapper {
    width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .form-wrapper {
    width: 55%;
  }
  .form-buttons .form-btn {
    width: 9rem;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .form-wrapper {
    width: 50%;
  }
  .form-buttons .form-btn {
    width: 9.5rem;
  }
}
/*----- Views -----*/
.home-banner-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 0;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

#hourlies-section {
  position: relative;
}
#hourlies-section::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
#hourlies-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-hourlies-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#home-quote-section {
  position: relative;
  border-top: 1px solid #FFFBEB;
}
#home-quote-section::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
#home-quote-section::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/home-quote-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  #who-we-are-fig {
    position: relative;
  }
  #who-we-are-fig::before {
    width: 100%;
    height: 100%;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -2;
    background: #FFFBEB;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    bottom: 20%;
    left: 15%;
    top: 0%;
    right: 0%;
    transform: translate(-5%, 10%);
  }
  #who-we-are-fig::after {
    width: 100%;
    height: 100%;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -5;
    background-image: url("/images/home-about/home-about-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    bottom: 20%;
    left: 15%;
    top: 0%;
    right: 0%;
    transform: translate(-5%, 10%);
  }
  #our-commitment-fig {
    position: relative;
  }
  #our-commitment-fig::before {
    width: 100%;
    height: 100%;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -2;
    background: #FFFBEB;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    bottom: -20%;
    left: -15%;
    top: 0%;
    right: 0%;
    transform: translate(5%, -10%);
  }
  #our-commitment-fig::after {
    width: 100%;
    height: 100%;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -5;
    background-image: url("/images/home-about/home-about-2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    bottom: -20%;
    left: -15%;
    top: 0%;
    right: 0%;
    transform: translate(5%, -10%);
  }
}
#hair-styling-banner::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
}

#quality-items-section {
  position: relative;
}
#quality-items-section::before {
  width: 100%;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -10;
  background: #27272a;
}

@media screen and (min-width: 1024px) {
  #items-img-fig {
    position: relative;
  }
  #items-img-fig::before {
    width: 100%;
    height: 100%;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -2;
    background: #D81B60;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    bottom: -20%;
    left: -15%;
    top: 0%;
    right: 0%;
    transform: translate(5%, -10%);
  }
  #items-img-fig::after {
    width: 100%;
    height: 100%;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -5;
    background-image: url("/images/hair-styling/items-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    bottom: -20%;
    left: -15%;
    top: 0%;
    right: 0%;
    transform: translate(5%, -10%);
  }
}
#nails-banner::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
}

.description {
  width: 100% !important;
  box-sizing: border-box !important;
  word-break: break-word;
}

#massages-banner::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
}

.contact-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}
.contact-wrapper::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.contact-wrapper::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/contact/contact-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

@media all and (max-width: 767px) {
  .contact-wrapper::after {
    background-position: 70%;
  }
}
#error-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#error-main::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -3;
  background: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
#error-main::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background-image: url("/images/error/error-404.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  filter: blur(0.1rem);
}
#error-main .error-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 0.25rem #353535;
  margin-bottom: 1rem;
}
#error-main .error-section .error-title {
  font-size: 4rem;
  margin-bottom: 1.25rem;
}
#error-main .error-section .error-subtitle {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}
#error-main .error-section .error-text {
  font-size: 1.75rem;
  margin-bottom: 1.8rem;
}

.error-title, .error-subtitle, .error-text {
  font-family: "Belleza", sans-serif;
}

@media all and (max-width: 991px) {
  #error-main .error-section .error-title {
    font-size: 3.5rem;
  }
  #error-main .error-section .error-subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  #error-main .error-section .error-text {
    font-size: 1.25rem;
  }
}
#all-services-banner::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -5;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
}

/*# sourceMappingURL=styles.css.map */
