@use '../includes/colors' as color;
@use '../includes/mixins' as mx;


.home-banner-wrapper {
  &::before {
    @include mx.bgColor(0, color.$black, 1);
  }
}

#hourlies-section {
  position: relative;
  &::before {
    @include mx.bgColor(-3, color.$black, 0.3);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/home-hourlies-bg.webp', 1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

#home-quote-section {
  position: relative;
  border-top: 1px solid #FFFBEB;
  &::before {
    @include mx.bgColor(-3, color.$black, 0.4);
  }
  &::after {
    @include mx.bgHeroImg(-5, '/images/home-quote-bg.webp', 1);
    background-attachment: fixed;
  }
}

@media screen and (min-width: 768px) {

  #who-we-are-fig {
    position: relative;
    &::before {
      width: 100%;
      height: 100%;
      @include mx.bgColor(-2, #FFFBEB, 0.8);
      bottom: 20%;
      left: 15%;
      top: 0%;
      right: 0%;
      transform: translate(-5%, 10%);
    }
    &::after {
      width: 100%;
      height: 100%;
      @include mx.bgHeroImg(-5, '/images/home-about/home-about-1.webp', 1);
      bottom: 20%;
      left: 15%;
      top: 0%;
      right: 0%;
      transform: translate(-5%, 10%);
    }
  }

  #our-commitment-fig {
    position: relative;
    &::before {
      width: 100%;
      height: 100%;
      @include mx.bgColor(-2, #FFFBEB, 0.8);
      bottom: -20%;
      left: -15%;
      top: 0%;
      right: 0%;
      transform: translate(5%, -10%);
    }
    &::after {
      width: 100%;
      height: 100%;
      @include mx.bgHeroImg(-5, '/images/home-about/home-about-1.webp', 1);
      bottom: -20%;
      left: -15%;
      top: 0%;
      right: 0%;
      transform: translate(5%, -10%);
    }
  }
}